<footer>
    Copyright 2022 Vaibhav
</footer>

<script>
    var loader = document.getElementById("preloader");

    window.addEventListener("load" , function(){
      loader.style.display = "none";
    });
  </script>

</body>

</html>